  .particle-section {
    position: relative;
    overflow: hidden; /* keep particles inside */
  }


  .particle {
    position: absolute;
    border-radius: 50%;
    background-color: #90ee90; /* lighter green - change the particles color*/
    opacity: 0;
    animation: floatUp 10s linear infinite;
  }

  @keyframes floatUp {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% {
      transform: translateY(-150px); /* move upward - change this to adjust the particles movement in a specific direction*/
      opacity: 0;
    }
  }